kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 67
        hostPort: 6767
        listenAddress: "0.0.0.0"
        protocol: udp
      - containerPort: 69
        hostPort: 69
        listenAddress: "0.0.0.0"
        protocol: udp
      - containerPort: 514
        hostPort: 514
        listenAddress: "0.0.0.0"
        protocol: udp
      - containerPort: 80
        hostPort: 80
        listenAddress: "0.0.0.0"
        protocol: tcp
